/* Ruta: assets/css/variables.css */

:root {
    /* Colores primarios */
    --primary: #1d8d06; /* Verde personalizado */
    --color-secondary: #424242; /* Gris oscuro */
    --color-text-body: #333333;

    /* Espaciado */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Tipografía */
    --font-heading: 'CustomFont', sans-serif;
    --font-body: 'Roboto', sans-serif; /* Vuetify ya usa Roboto, pero se define */
}